:root {
  --color-background: hsl(213, 100%, 7%);
  --color-font: #fef2bf;
  --color-game-over: #fa1e0e;
  --lens-size: 27rem;
  --trademark-size: 30rem;
  --border-circle: 0.8rem solid rgb(120, 122, 145);
  --white-shadow: 0 0 0.3rem white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: content-box;
}

body {
  font-family: 'Permanent Marker', cursive;
  background-color: var(--color-background);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;

  position: relative;
}

#level-title {
  font-size: 5.8rem;
  padding: 2.3rem;
  margin-bottom: 2.7rem;
  color: var(--color-font);
}

.color-lens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 0.1rem;
  display: inline-block;
  height: var(--lens-size);
  width: var(--lens-size);
  border: var(--border-circle);
  border-radius: 20%;
  cursor: pointer;
}
.color-lens_circle {
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: var(--trademark-size);
  height: var(--trademark-size);
  border-radius: 50%;
  border: var(--border-circle);
  z-index: 10;
  margin: 0 auto;
  flex: 1;
  box-shadow: var(--white-shadow);
}

.legal {
  color: var(--color-font);
  font-size: 2.3rem;
  margin: 0 auto;
  position: absolute;
  box-shadow: var(--white-shadow);
  border-radius: 1rem;
  background-color: var(--color-background);
}

.game-over {
  background-color: #fa1e0e;
  opacity: 0.8;
  z-index: 2;
}

.red {
  background: linear-gradient(
    90deg,
    rgba(244, 124, 124, 1) 14%,
    rgba(125, 25, 53, 1) 82%
  );
  border-radius: 0 100% 0 0;
  box-shadow: var(--white-shadow);
}

.green {
  background: linear-gradient(
    90deg,
    rgba(24, 77, 71, 1) 14%,
    rgba(161, 222, 147, 1) 82%
  );
  border-radius: 100% 0 0 0;
  box-shadow: var(--white-shadow);
}

.blue {
  background: linear-gradient(
    90deg,
    rgba(112, 161, 215, 1) 14%,
    rgba(15, 82, 186, 1) 82%
  );
  border-radius: 0 0 100% 0;
  box-shadow: var(--white-shadow);
}

.yellow {
  background: linear-gradient(
    90deg,
    rgba(255, 183, 64, 1) 14%,
    rgba(247, 244, 139, 1) 82%
  );
  border-radius: 0 0 0 100%;
  box-shadow: var(--white-shadow);
}

.pressed {
  box-shadow: 0 0 2rem white;
  background-color: grey;
}
